.red{
    color: red;
    font-weight: 700;
}

body{
    background: #530953;
    color: white;
}

.my-btn{
    display: block;
    color: white;
    background: orange;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
    text-decoration: none;
    border: 3px solid #ffffff;
    border-radius: 10px;
}
