<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Наш перший сайт</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body style="background: #3a005e;">
    
    <p style="color: rgb(251, 6, 6);"><b>JavaScript</b> (JS) — динамічна, об'єктно-орієнтована[5] прототипна <i>мова програмування</i>. Реалізація стандарту ECMAScript. Найчастіше використовується для створення сценаріїв вебсторінок, що надає можливість на боці клієнта (пристрої кінцевого користувача) взаємодіяти з користувачем, керувати браузером, асинхронно обмінюватися даними з сервером, змінювати структуру та зовнішній вигляд вебсторінки.</p>

    <!-- MENU -->
    <ul class="menu">
        <li><a href="https://uk.wikipedia.org/wiki/JavaScript">Вікіпедія</a></li>
        <li><a href="/">На головну</a></li>
    </ul>
    
</body>
</html>